{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Placement & Training</title>
    <link rel="stylesheet" href="{% static 'css/home.css'%}">
</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="container">
            <div class="logo">
                <img src="{% static 'images/logo.png'%}" alt="College Logo">
            </div>
            <h1>Welcome,{{user}}</h1>
            <nav>
                <ul class="nav-links">
                    <li><a href="">Home</a></li>
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Opportunities</a></li>
                    <li><a href="#">Training</a></li>
                    <li><a href="profile">Profile</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
                
                <a href="/logout" class="btn-login">Logout</a>
            </nav>
        </div>
    </header>
        <!-- Hero Section -->
        <section class="hero">
            <div class="container">
                <div class="hero-text">
                    <h1>Empowering Your Future with Career Opportunities</h1>
                    <p>Discover placement drives, training resources, and more to build a successful career.</p>
                    <a href="#" class="btn-primary">Get Started</a>
                </div>
            </div>
        </section>
    <div style="display: flex;">
        {% for job in jobs %}
    <div class="job-card">
        <div class="job-header">
            <h3 class="job-title">{{job.title}}</h3>
            <p class="company-name">{{job.company}}</p>
        </div>
        <div class="job-details">
            <p><strong>Location:</strong>{{job.location}}</p>
            <p><strong>Salary:</strong> {{job.salary}}</p>
            <p><strong>Type:</strong>{{job.job_type}}</p>
        </div>
        <div class="job-description">
            <p>{{job.description}}</p>
        </div>
        <div class="job-footer">
            <a href="job_details/{{job.id}}" class="apply-btn">Apply Now</a>
        </div>
    </div>
    {% endfor %}
    
</div>
    


    <!-- Footer Section (Optional) -->
    <footer>
        <div class="container">
            <p>&copy; 2024 Training and Placement SCOE. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>
