{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Application - College Placement & Training</title>
    <link rel="stylesheet" href="{% static 'css/application.css' %}">
</head>
<body>
    <!-- Header Section -->
    <header>
        <div class="container">
            <div class="logo">
                <img src="{% static 'images/logo_white_text.png' %}" alt="College Logo">
            </div>
            <nav>
                <ul class="nav-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Opportunities</a></li>
                    <li><a href="#">Training</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Job Application Section -->
    <section class="job-application">
        <div class="container">
            <div class="job-details-header">
                <h1>Apply for {{job_post.title}}</h1>
                <p class="company-name">{{job_post.company}}, {{job_post.location}}</p>
            </div>

            <div class="application-form-container">
               
                    {% csrf_token %}
                    
                    <form method="POST" action="{% url 'job_application_save' job_post_id=job_post.id%}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.linkedin.label_tag }}  <!-- Render the label -->
                            {{ form.linkedin }}  <!-- Render the input field -->
                        </div>
                
                        <div class="form-group">
                            {{ form.portfolio.label_tag }}
                            {{ form.portfolio }}
                        </div>
                
                        <div class="form-group">
                            {{ form.resume.label_tag }}
                            {{ form.resume }}
                        </div>
                
                        <div class="form-group">
                            Cover letter(optional):
                            {{ form.cover_letter }}
                        </div>
                
                        <div class="form-actions">
                            <button type="submit" class="btn-submit" >Submit Application</button>
                        </div>
                        
                    </form>

                    
               
            </div>
        </div>
    </section>

    <!-- Footer Section -->
    <footer>
        <div class="container">
            <p>&copy; 2024 Training and Placement SCOE. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>
